.bookshelf {
  background-color: #F7F7F7;
  padding: 4em;
  margin: 2em;
  border-radius: 15px;
  height: calc(100vh - 4em);
}

.bookshelf_list {
  height: 485px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: #C4967C;
  background-image: url('../assets/empty_Bookshelf.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.bookshelf_item {
  list-style-type: none;
  margin: .5em;
}