.search {
  max-height: 82vh;
  overflow: scroll;
  padding: 2em 3em;
}

.search_form {
  width: 100%;
  display: flex;
}

.search_form > * {
  margin: .5em;
}

.results_list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, 500px); */
}

.results_item {
  list-style-type: none;
}

.pagination {
  margin: 2em;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style-type: none;
  display: inline-block;
  margin: .5em;
}