.results_list {
  padding: 0;
}

.results_item {
  list-style-type: none;
}

.result {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 1em;
  gap: 1em;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style-type: none;
  display: inline-block;
  margin: .5em;
}