.results_list {
  padding: 0;
}

.results_item {
  list-style-type: none;
}

.result {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 1em;
  gap: 1em;
}

.result_actionBtn {
  width: 100px;
  height: 50px;
}

.result_actionBtn,
[role="button"] {
  padding: .5em;
  background: none;
  color: blue;
  border: 1px solid currentColor;
  border-radius: 5px;
  font-size: 1em;
}

.result_actionBtn:hover:not(:disabled),
.active [role="button"],
[role="button"]:hover:not([aria-disabled="true"]) {
  background: aliceblue;
  cursor: pointer;
}

.result_actionBtn:disabled,
[role="button"][aria-disabled="true"] {
  color: grey;
  border: 1px solid currentColor;
  cursor: default;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style-type: none;
  display: inline-block;
  margin: .5em;
}