.spines {
  width: 100%;
  display: flex;
  /* justify-content: center; */
}

.spines_mode {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.spines_mode .spine {
  margin: auto;
}

.spines_mode p {
  text-align: center;
}